@{
    Layout = null;
}
@{
    string appId = ViewBag.appId;
    string timestamp = ViewBag.timestamp;
    string noncestr = ViewBag.noncestr;
    string signature = ViewBag.signature;
    @*  调试
        string url = ViewBag.url;
        string str1 = ViewBag.str1;
        string sha1 = ViewBag.sha1;
    *@

wxtest.Common.WxHelper.JsApi_Ticket tickek = ViewBag.tickek as wxtest.Common.WxHelper.JsApi_Ticket;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestJs</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        .pic9 {
            margin: 0em auto;
            width: 100%;
            height: 20em;
        }

            .pic9 li {
                width: 30%;
                height: 30%;
                float: left;
                background: #333;
                overflow: hidden;
                text-align: center;
                margin: 1px;
            }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
    @*  调试
        <h1>调试信息</h1>
        <ul>
            <li>@tickek.Ticket</li>
            <li>@noncestr</li>
            <li>@timestamp</li>
            <li>@url</li>
            <li>@str1</li>
            <li>@sha1</li>
        </ul>*@
    <div>
        <ul>
            <li>
                <a onclick="share()">分享到朋友圈</a>
            </li>
            <li>
                <a onclick="share2()">分享给好友</a>
            </li>
            <li>
                <a onclick="chooseImage()">选择图片</a>
                <div id="imgs" class="pic9"></div>
            </li>
        </ul>
    </div>
</body>
</html>
<script>
    wx.config({
        //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '@appId', // 必填，公众号的唯一标识
        timestamp: '@timestamp', // 必填，生成签名的时间戳
        nonceStr: '@noncestr', // 必填，生成签名的随机串
        signature: '@signature',// 必填，签名，见附录1
        jsApiList: ["onMenuShareTimeline", "onMenuShareAppMessage", "chooseImage", "previewImage"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready();
    wx.hideOptionMenu();

    function chooseImage() {
        wx.chooseImage({
            count: 9, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                var imgs = $("#imgs");
                for (var i in localIds) {
                    var src = localIds[i];
                    var li = $("<li><img src=\"" + src + "\" /></li>").click(function () {
                        var clone = $(this).clone().css({
                            "width": "100%",
                            "height": "100%",
                            "top": "0em",
                            "left": "0em",
                            "position": "absolute",
                            "background-color": "#333",
                            "overflow": "hidden",
                            "text-align": "center",
                            "display": "none"
                        });
                        $(document.body).append(clone);
                        clone.unbind().show().click(function () {
                            $(this).remove();
                        });
                    });
                    imgs.append(li);
                }
            }
        });
    }

    function previewImage(img) {
        $(img).toggleClass("picliShow");
    }
    function share() {
        alert("分享到朋友圈");
        wx.onMenuShareTimeline({
            title: '测试', // 分享标题
            link: 'http://class.sjtu-oec.com/sjtu/wxtest/wx/TestJs', // 分享链接
            imgUrl: '', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert("成功分享到朋友圈");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("取消了分享");
            }
        });
    }
    function share2() {
        alert("分享给朋友");
        wx.onMenuShareAppMessage({
            title: '测试', // 分享标题
            desc: '测试JS接口', // 分享描述
            link: 'http://class.sjtu-oec.com/sjtu/wxtest/wx/TestJs', // 分享链接
            imgUrl: '', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert("成功分享给朋友");
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("取消了分享");
            }
        });
    }
</script>